<html>
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
        <a class="navbar-brand" href="#">
                  <img src="{{ url_for('static', filename='logo1.png') }}" width="120" alt="" class="d-inline-block align-left mr-2">
        </a>          
            <div class="navbar-header">
        <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
        </button>
          </div>
          <div class="collapse navbar-collapse" id="navMain">
            <ul class="nav navbar-nav pull-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/my-link/">Upload</a></li>
              <li><a href="feed.html">Social Feed</a></li> 
              <li><a href="myacc.html">My Account</a></li> 
            </ul>
          </div>
        
      </div>
      
<section class="hero">
</section>
<div class="container">
    <h1>
        <span class="pink">IMPROVE </span>YOUR <span class="pink">PHOTO </span>WITH THE BEST PHOTO EDITNG APP</h1>
    <br><br>
    <p>An online application for you to upload and edit your photos leveraging various image processing functionalities and filters.
       You can view, react and comment on pictures posted by your friend circle! 
    </p>    
</div>
    
<script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}"></script>

</body>
</html>